.modal-header
  %h5#titile-modal.modal-title Add category
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  = simple_form_for(@category, as: :category, method: :post, url: account_admin_category_index_path, :remote => true) do |f|
    .col-md-12
      = f.input :name, class: "form-control center"
    .modal-footer
      %button.btn.btn-secondary.w-25{"data-dismiss" => "modal", :type => "button"} Close
      =f.submit "SAVE", class: "btn btn-danger w-25"
