-provide(:page, 'users')
%div(class="row" )
  %div(class="col-md-8")
    =render "account/admin/user/_part/sub_menu"
    %div(class="col-md-12 text-right m-1" )
      =search_form_for @q, url: account_admin_user_index_path do |f|
        \#{f.search_field :user_cont}
        %button{:class => "btn btn-default", :type => "submit"}
          %i(class="bi bi-search")
    =render "account/admin/user/_part/user"
    =render "account/admin/user/_part/admin"
