= form_tag search_account_user_article_index_path, method: :get, id: 'limit_form' do
  %label Items of page
  =select_tag :limit, options_for_select([5, 10, 15, 20], selected: params[:search].blank? ? 10 : params[:search][:per_page] || 10), onchange: "$('#limit_form').submit();", name: "search[per_page]", :class => "w-25 form-control"
= paginate @articles, params: {controller: 'account/user/home', action: 'search'}, param_name: "search[page]", theme: 'twitter-bootstrap-4', pagination_class: "justify-content-center"
- @articles.each do |article|
  .row.p-3
    .col-md-4
      %img{style: "height: 200px; object-fit: cover;", :src => article.picture.thumb.url}
    .col-md-8
      %h3= article.headline
      %p
        =article_short_content strip_tags(article.content), 50
        =link_to 'More ...', account_user_article_path(id: article.id), :class => "font-italic"