%ul(class="nav flex-column mt-5 text-center")
  %li(class="nav-item border-right")
    =link_to raw('<h1 class="text-secondary"><i class="bi bi-chat-right"></i></h1>')
  %li(class="nav-item border-right")
    =link_to raw('<h1 class="text-secondary"><i class="bi bi-people"></i></h1>')
