%nav.navbar.navbar-expand-lg.navbar-light.bg-light.p-0
  %div(class="h-100 bg-danger p-2 text-white")
    %h2(class="m-3 px-3" ) Sports Hub
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.h-100
      =form_for :search, url: (controller_path.split('/'))[1] == "admin" ? account_admin_article_index_path : account_user_article_index_path, method: :get do |f|
        =f.text_field :query, style: "width: 500px; margin: 5px"
        %button{:class => "btn btn-default", :type => "submit"}
          %i(class="bi bi-search")
    - if user_signed_in?
      - if current_user.admin?
        %div{ :class => "rounded-circle bg-danger" }
          - if (controller_path.split('/'))[1] == "admin"
            =link_to raw('<i class="bi bi-arrow-left-right px-2 text-white" style="font-size: 2rem"}></i>'), account_user_root_path
          - else
            =link_to raw('<i class="bi bi-arrow-left-right px-2 text-white" style="font-size: 2rem"}></i>'), account_admin_root_path
      %div{:style => "border-left: 1px solid #e1e4e8; height: 100%;", :class => "p-1"}
    - if user_signed_in?
      %div(class="dropdown")
        %a{:class => "btn dropdown-toggle",
                      :type => "button btn-sm",
                      :id => "dropdownMenuButton",
                      "data-toggle" => "dropdown",
                      :style => "font-size: 2rem; wight: bolder",
                      :aria-expanded => "false"}
          %div(class="d-inline" )
            %span{:style => "font-size: 1rem"}= current_user.full_name
            - if current_user.admin?
              /n
              %span(class="text-secondary" style="font-size: 0.75rem" ) Admin

        %div(class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton")
          =link_to 'Edit profile', edit_account_user_user_path(id: current_user.id), :method => :get, :class => "btn btn-small"
          =link_to 'Log out', destroy_user_session_path, :method => :delete, :class => "btn btn-small"
    - else
      = link_to 'Sign in', new_user_session_path, :class => "btn btn-small text-danger"
      = link_to 'Sign up', new_user_registration_path, :class => "btn btn-small text-danger"
