.modal-header
  %h5#titile-modal.modal-title Edit subcategory
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  = simple_form_for(@sub_category, as: :sub_category, method: :patch, url: account_admin_category_sub_category_path(category_id: @sub_category.category_id, id: @sub_category.id)) do |f|
    .col-md-12
      = f.input :name, class: "form-control center"
    .modal-footer
      %button.btn.btn-secondary.w-25{"data-dismiss" => "modal", :type => "button"} Close
      =f.submit "SAVE", class: "btn btn-danger w-25"
